*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/build/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
*.jks
*.keystore
google-services.json
/design